include ../config/config
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet" href="css/styles.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous")
        title Document
    body
        header#header.header
            a(href="/").logo
                img(src="./assets/img/logo.png" alt="web logo")
            #topbar.topbar
                .topbar__icon(data-type="login")#login.hide
                    i.fa.fa-user
                    span Log in
                .topbar__icon(data-type="register")#register.hide
                    i.fa.fa-user-plus
                    span Register
                .topbar__icon(data-type="profile")#profile.hide
                    i.fa.fa-id-card
                    span Profile
                .topbar__icon(data-type="logout")#logout.hide
                    i.fa.fa-user-times
                    span Logout
                .toggle-menu
                    #toggle-menu.toggle-menu__icon
                        .first-bar
                        .second-bar
                        .third-bar
        #sidebar.sidebar
            block menu
        main.main
            block title
        include ../includes/uploads
        include ../includes/modal-login
        include ../includes/modal-register
        script(src="https://www.gstatic.com/firebasejs/7.2.0/firebase-app.js")
        script(src="https://www.gstatic.com/firebasejs/7.2.0/firebase-analytics.js")
        script(src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js")
        script(src='https://www.gstatic.com/firebasejs/5.9.1/firebase-storage.js')
        script.
            const firebaseConfig = {
                apiKey: "AIzaSyB7kIXZ2mUO6z54XYOPB0ZbkOPJBLuUOQY",
                authDomain: "sheila-photography-59acc.firebaseapp.com",
                databaseURL: "https://sheila-photography-59acc.firebaseio.com",
                projectId: "sheila-photography-59acc",
                storageBucket: "sheila-photography-59acc.appspot.com",
                messagingSenderId: "153875622837",
                appId: "1:153875622837:web:f03620153247bc9e2587fc",
                measurementId: "G-E0539HB4QR"
            };
            firebase.initializeApp(firebaseConfig);
            firebase.analytics();
        script(src="js/scripts-min.js")
//- 