@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
@import url("https://fonts.googleapis.com/css?family=Cabin:400,600");
:root { --primary-color: #3f95ea; --secondary-color: #52d3aa; --danger-color: #ff3c32; --cta-color: #fba905; --dark-color: #343434; --dark-color-2: #666; --background-color: #222; --text-color: #eee; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document ========================================================================== */
/** 1. Correct the line height in all browsers. 2. Prevent adjustments of font size after orientation changes in iOS. */
*, *::before, *::after { box-sizing: border-box; }

html { line-height: 1.15; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ }

img { max-width: 100%; }

/* Sections ========================================================================== */
/** Remove the margin in all browsers. */
body { margin: 0; }

/** Render the `main` element consistently in IE. */
main { display: block; }

/** Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Firefox, and Safari. */
h1 { font-size: 2em; margin: 0.67em 0; }

/* Grouping content ========================================================================== */
/** 1. Add the correct box sizing in Firefox. 2. Show the overflow in Edge and IE. */
hr { box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
pre { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/* Text-level semantics ========================================================================== */
/** Remove the gray background on active links in IE 10. */
a { background-color: transparent; }

/** 1. Remove the bottom border in Chrome 57- 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] { border-bottom: none; /* 1 */ text-decoration: underline; /* 2 */ -webkit-text-decoration: underline dotted; text-decoration: underline dotted; /* 2 */ }

/** Add the correct font weight in Chrome, Edge, and Safari. */
b, strong { font-weight: bolder; }

/** 1. Correct the inheritance and scaling of font size in all browsers. 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/** Add the correct font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

/* Embedded content ========================================================================== */
/** Remove the border on images inside links in IE 10. */
img { border-style: none; }

/* Forms ========================================================================== */
/** 1. Change the font styles in all browsers. 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea { font-family: inherit; /* 1 */ font-size: 100%; /* 1 */ line-height: 1.15; /* 1 */ margin: 0; /* 2 */ }

/** Show the overflow in IE. 1. Show the overflow in Edge. */
button, input { /* 1 */ overflow: visible; }

/** Remove the inheritance of text transform in Edge, Firefox, and IE. 1. Remove the inheritance of text transform in Firefox. */
button, select { /* 1 */ text-transform: none; }

/** Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

/** Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

/** Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

/** Correct the padding in Firefox. */
fieldset { padding: 0.35em 0.75em 0.625em; }

/** 1. Correct the text wrapping in Edge and IE. 2. Correct the color inheritance from `fieldset` elements in IE. 3. Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
legend { box-sizing: border-box; /* 1 */ color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 3 */ white-space: normal; /* 1 */ }

/** Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress { vertical-align: baseline; }

/** Remove the default vertical scrollbar in IE 10+. */
textarea { overflow: auto; }

/** 1. Add the correct box sizing in IE 10. 2. Remove the padding in IE 10. */
[type="checkbox"], [type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Correct the odd appearance in Chrome and Safari. 2. Correct the outline style in Safari. */
[type="search"] { -webkit-appearance: textfield; /* 1 */ outline-offset: -2px; /* 2 */ }

/** Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** 1. Correct the inability to style clickable types in iOS and Safari. 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }

/* Interactive ========================================================================== */
/* Add the correct display in Edge, IE 10+, and Firefox. */
details { display: block; }

/* Add the correct display in all browsers. */
summary { display: list-item; }

/* Misc ========================================================================== */
/** Add the correct display in IE 10+. */
template { display: none; }

/** Add the correct display in IE 10. */
[hidden] { display: none; }

body { font-family: "Cabin", sans-serif; background-color: #222; color: var(--text-color); min-height: 100vh; font-size: 1rem; }

@media screen and (min-width: 1024px) { body { display: grid; grid-template-columns: 15% 85%; grid-template-rows: 60px 1fr; } }

.header { padding: 1em 0; }

@media screen and (min-width: 1024px) { .header { display: flex; align-items: center; justify-content: space-between; grid-column: 2/-1; grid-row: 1 / 2; } }

.topbar { display: flex; align-items: center; justify-content: space-between; width: 100vw; position: fixed; top: 0; left: 50%; transform: translateX(-50%); height: 50px; background-color: var(--dark-color-2); padding-left: 70px; z-index: 100; }

.topbar__icon { width: 90px; display: flex; justify-content: space-around; cursor: pointer; }

@media screen and (min-width: 1024px) { .topbar { height: 90px; left: 100%; justify-content: space-evenly; transform: translateX(-100%); background-color: transparent; padding-left: 0; } }

@media screen and (min-width: 1400px) { .topbar { width: 15vw; } }

.toggle-menu { height: 50px; width: 40px; }

.toggle-menu__icon { height: 50px; width: 40px; position: relative; }

.toggle-menu__icon .first-bar, .toggle-menu__icon .second-bar, .toggle-menu__icon .third-bar { position: absolute; width: 30px; height: 3px; background: var(--text-color); border-radius: 5px; transition: transform 0.2s; }

.toggle-menu__icon .first-bar { top: 15px; }

.toggle-menu__icon .second-bar { top: 25px; }

.toggle-menu__icon .third-bar { top: 35px; }

.toggle-menu .show .first-bar { transform: rotate(-45deg); top: 1.5rem; }

.toggle-menu .show .second-bar { width: 0; }

.toggle-menu .show .third-bar { transform: rotate(45deg); top: 1.5rem; }

@media screen and (min-width: 1024px) { .toggle-menu { display: none; } }

.main-menu { list-style: none; padding-left: 0; margin-top: 0; margin-bottom: 0; border-top: 1px solid var(--dark-color); background-color: var(--dark-color-2); }

.main-menu__item { text-align: center; text-transform: uppercase; line-height: 2.5; border-bottom: 1px solid var(--dark-color); }

@media screen and (min-width: 1024px) { .main-menu__item { line-height: 2; border: none; } }

.main-menu__link { text-decoration: none; color: var(--text-color); font-size: 1.2rem; }

@media screen and (min-width: 1024px) { .main-menu { border: none; height: 100vh; margin-top: 0; display: flex; flex-direction: column; justify-content: center; background-color: transparent; font-size: 1.5rem; } }

.logo { width: 50px; display: flex; align-items: center; justify-content: center; position: fixed; top: 0.2rem; left: 0.1rem; z-index: 200; }

.logo__img { max-width: 100%; }

@media screen and (min-width: 1024px) { .logo { position: absolute; left: 2%; top: 1rem; width: 10%; } }

.sidebar { position: fixed; background-color: var(--dark-color); width: 100%; height: 100vh; top: 50px; transform: translateY(-100%); z-index: 1; transition: transform 0.3s; }

@media screen and (min-width: 1024px) { .sidebar { grid-column: 1 / 2; grid-row: 1 / -1; width: 15%; top: 0; transform: translateY(0); } }

.sidebar.show { transform: translateY(0); }

.main { padding: 0 1em; }

@media screen and (min-width: 1024px) { .main { grid-column: 2 / 3; grid-row: 2 / 3; padding: 0 2em; } }

.form { background: var(--dark-color); padding: 1rem; border-radius: 15px; width: 100%; max-width: 360px; }

.form__field { display: flex; justify-content: flex-start; flex-direction: column; align-items: center; }

@media screen and (min-width: 1024px) { .form__field { width: 100%; } }

.form__label, .form__input { width: 100%; margin-bottom: 0.8em; background: none; border: none; color: var(--text-color); }

.form__input { margin-bottom: 2rem; border-bottom: 1px solid var(--text-color); }

.form__submit { display: inline-block; padding: 0.5rem 1rem; color: var(--text-color); background: var(--primary-color); border: none; cursor: pointer; text-decoration: none; line-height: inherit; border-radius: 0.25rem; transition: transform 0.05s; text-align: center; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.lightbox { position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.7); z-index: 1000; display: flex; align-items: center; justify-content: center; transform: scale(0); transition: transform 0.3s; }

.lightbox--show { transform: scale(1); }

.hide { display: none; }

.main { padding: 0 1em; }

@media screen and (min-width: 1024px) { .main { grid-column: 2 / 3; grid-row: 2 / 3; padding: 0 2em; } }

.title { padding: 1rem 0; border-bottom: 1px solid #fff; text-align: left; }

@media screen and (min-width: 1024px) { .title { padding-bottom: 0.5em; padding-top: 0.5em; border-top: 1px solid #fff; } }
