body {
  font-family: $main-font, sans-serif;
  background-color: #222;
  color: $text-color;
  min-height: 100vh;
  font-size: 1rem;

  @include laptop {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 60px 1fr;
  }
}
