.form {
  background: $dark-color;
  padding: 1rem;
  border-radius: 15px;
  width: 100%;
  max-width: 360px;

  &__field {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    @include laptop {
      width: 100%;
    }
  }
  &__label,
  &__input {
    width: 100%;
    margin-bottom: 0.8em;
    background: none;
    border: none;
    color: $text-color;
  }

  &__input {
    margin-bottom: 2rem;
    border-bottom: 1px solid $text-color;
  }

  &__submit {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: $text-color;
    background: $primary-color;
    border: none;
    cursor: pointer;
    text-decoration: none;
    line-height: inherit;
    border-radius: 0.25rem;
    transition: transform 0.05s;
    text-align: center;
    user-select: none;
  }
}
