.main-menu {
  @include reset-list;
  border-top: 1px solid $dark-color;
  background-color: $dark-color-2;

  &__item {
    text-align: center;
    text-transform: uppercase;
    line-height: 2.5;
    border-bottom: 1px solid $dark-color;

    @include laptop {
      line-height: 2;
      border: none;
    }
  }

  &__link {
    text-decoration: none;
    color: $text-color;
    font-size: 1.2rem;
  }

  @include laptop {
    border: none;
    height: 100vh;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    font-size: 1.5rem;
  }
}
