nav#main-nav.main-nav
    ul#main-menu.main-menu
        each page, index in pages
            li.main-menu__item
                if index==0
                    a(href='/').main-menu__link= page
                else
                    a(href=`/${page}.html`).main-menu__link= page