//- .uploads.hide#uploads
//-     progress#progress.progress(value='0' max='100')
//-     form(action="#").form--upload#form-upload
//-         input(type="file" value="upload")#file-button.file--button
